{% extends "base.html" %}

{% block content %}
<form method="post" action="/create_user">
    {% csrf_token %}
    <div>
        <label for="exampleInputEmail">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail" placeholder="Enter email">
    </div>

    <div>
        <label for="exampleInputPassword">Password</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword" placeholder="Password">
    </div>

    <br/>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
{% endblock %}
