{% extends "base.html" %}

{% block content %}
    <br/>
    <section class="search-bar">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" id="prefix_input"
                    onchange="prefix_input_callback(event)" type="text">

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </section>

    <div class="country_results">
        {% for item in items %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{item.name }}</h5>

                    <h6 class="card-subtitle mb-2 text-muted">{{item.code}}</h6>

                    <button onclick="handle_fav('{{item.code}}')" type="button" class="btn btn-default btn-sm">
                        <span>
                            {% if item.code in favorites %}
                                <i id="icon-{{item.code}}--filled" class="bi bi-heart-fill"></i>
                            {%endif%}

                            {% if item.code not in favorites %}
                                <i id="icon-{{item.code}}--unfilled" class="bi bi-heart"></i>
                            {%endif%}
                        </span>
                    </button>

                    <p class="card-text">
                        {% for currency_code in item.currencyCodes%}
                            <span class="badge badge-secondary">{{currency_code}} </span>
                        {% endfor %}

                    </p>

                    <a href="country/{{item.code}}" class="card-link">View more about this county</a>
                </div>
            </div>
        {% endfor %}
    </div>

    {%if total_pages > 1%}
        <section aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <button class="page-link" onclick="previous_page()" type="button"
                        {%if is_first_page%}
                            disabled
                        {%endif%}
                    >
                        Previous
                    </button>
                </li>

                <li class="page-item"><button class="page-link" disabled>{{current_page}} of {{total_pages}}</button></li>

                <li class="page-item">
                    <button class="page-link" onclick="next_page()" type="button"
                        {%if is_last_page%}
                            disabled
                        {%endif%}
                    >
                        Next
                    </button>
                </li>
            </ul>
        </section>
    {%endif%}
{% endblock %}

